{% include 'TorgovorotTorgBundle:Default:header.html.twig' with { 'title':item.title, 'menu':'goods', 'title': item.title }%}

{% if item.updateTime == "" %}
    {% set updated = item.time|date('Y-m-d H:i') %}
{% else %}
    {% set updated = item.updateTime|date('Y-m-d H:i') %}
{% endif %}
    <script>
        
        {% if user.addrId is not empty %}
            var coords = "{{ getMapCoords(""~getAddr(user.addrId).city) }}";
        {% endif %}
    
    
    var coord = coords.split(" ");
    
    /*ymaps.ready(init);
        var myMap;

        function init(){
            myMap = new ymaps.Map ("mapSmall", {
                center: [coord[1], coord[0]],
                zoom: 2
            });
            
            var placemark = new YMaps.Placemark(new YMaps.GeoPoint(37.609218,55.753559));

            // Устанавливает содержимое балуна
            placemark.name = "Москва";
            placemark.description = "Столица Российской Федерации";

            // Добавляет метку на карту
            myMap.addOverlay(placemark); 
        }
        */
       YMaps.jQuery(function () {
            // Создание экземпляра карты и его привязка к созданному контейнеру
            map = new YMaps.Map(document.getElementById("mapSmall"));
            // Установка для карты ее центра и масштаба
            map.setCenter(new YMaps.GeoPoint(coord[0], coord[1]), 10);
            // Создание метки
            var placemark = new YMaps.Placemark(new YMaps.GeoPoint(coord[0], coord[1]));
            // Установка содержимого значка метки
            placemark.setIconContent('{{ item.title }}');
            // Добавление метки на карту
            map.addOverlay(placemark);
        }); 
        
    </script>
<div class="main">
    {{ getbanner(1,"random",0, 960, 60,"",1)|raw }}
    
    <div style="margin-top: 20px;" class="path">
            <a href="{{ path('torgovorot_torg_homepage') }}" class="home"></a>
            <a href="{{ path('goods_all') }}">Товары</a> >
            <span>{{ item.title }}</span>
    </div>
    
    <h1>{{ item.title }}</h1>
    
    <div class="vacancy-dateils">
            <span>Товар № {{ item.id }}, добавлен {{ item.time|date('Y-m-d H:i') }}, {% if updated != item.time|date('Y-m-d H:i') %}обновлен {{ updated }},{% endif %} {{ item.views }} просмотр</span>
            <a href="#" class="bookmark"></a>
    </div>
    {% if app.user %}
      {% if app.user.id == item.ownerId %}
        <div class="vacancy-links">
            <a href="{{ path("make_vip", { 'type':4, 'id':item.id }) }}" class="g1"><i></i>Разместить в Топ</a>
            <a href="{{ path("make_premium", { 'type':4, 'id':item.id }) }}" class="g2"><i></i>Сделать срочным</a>
            <a href="{{ path("lift_product_up", { 'type':4, 'id':item.id }) }}" class="g3"><i></i>Поднять</a>

            <a href="#" class="print"></a>
        </div>
      {% endif %}
    {% endif %}
    <div>
            <div class="main-half">
                <div class="photos">
                    <div>
                        {% if getPhoto(item.photoIds) != "none" %}
                            <img class="zoom" src="{{ asset('uploads/photo/item_image/'~getPhoto(item.photoIds, 0,  'jpg')) }}"/>
                        {% else %}
                            <img src="{{ asset('uploads/nophoto.png') }}" alt=""/>
                        {% endif %}
                        <i></i>
                    </div>
                    <div>
                        {% if item.photoIds is not empty %}
                            {% for key,image in images %}
                                {% if image.getIName() is not null %}
                                    {% if image.getIName()|slice(-4) == "jpeg" %}
                                        <img key="{{ key }}" class="gallery_box {% if key == 0 %}active{% endif %}" alt="" data-zoom-image="{{ asset('uploads/photo/'~image.getIName()) }}" src="{{ asset('uploads/photo/item_image/'~getPhoto(image.id, 0,  'jpg')) }}"/>
                                    {% else %}
                                        <img key="{{ key }}" class="gallery_box {% if key == 0 %}active{% endif %}" alt="" data-zoom-image="{{ asset('uploads/photo/'~image.getIName()) }}" src="{{ asset('uploads/photo/item_image/'~getPhoto(image.id, 0,  'jpg')) }}"/>
                                    {% endif %}
                                        <i></i>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                            <div class="gallery_light">
                            {% for key,image in getPhoto(item.photoIds, 100, 'none') %}
                                {% if image is not null  %}
                                    {% if image|slice(-4) == "jpeg" %}
                                        <a key="{{ key }}" data-lightbox="roadtrip" style="display: none;" href="{{ asset('uploads/photo/item_image/'~image|slice(0, -4)~'jpg') }}"><img alt="" src="{{ asset('uploads/photo/item_image/'~image|slice(0, -4)~'jpg') }}"/></a>
                                    {% else %}
                                        <a key="{{ key }}" data-lightbox="roadtrip" style="display: none;" href="{{ asset('uploads/photo/item_image/'~image|slice(0, -4)~'jpg') }}"><img alt="" src="{{ asset('uploads/photo/item_image/'~image|slice(0, -4)~'jpg') }}"/></a>
                                    {% endif %}
                                    
                                {% else %}
                                    <img src="{{ asset('uploads/nophoto.png') }}"/>
                                {% endif %}
                            {% endfor %}
                            </div>                
                {% if images|length > 0 %}<a class="all-photo" href="#">просмотреть все {{ images|length }} фото</a>{% endif %}
                <div {% if images|length < 1 %}style="margin-top: 10px;"{% endif %} class="mapSmall" id="mapSmall"></div>
            </div>
        <div class="main-half">
            <ul class="options">
                    <li class="ppp">
                        <label>
                            Стоимость:
                        </label>

                        <div>
                            {{ price_temp(item.price) }} руб.
                        </div>
                    </li>
                    <li>
                        <label>
                            Город продажи:
                        </label>

                        <div>
                            {% if user.addrId is not empty %}
                                {{ getAddr(user.addrId).city }}
                            {% else %}
                                Не указано
                            {% endif %}
                        </div>
                    </li>
            </ul>
            
            <div class="soyellow">
                    <div>
                        <span class="bpeople">Продавец:</span> <b>{{ user.fio }}</b>
                    </div>
                    {% if user.mobile != "" %}
                    <div>
                        <span class="bphone">Мобильный:</span> <b class="get_prof_number">+7 (XXX) XXX-XX-XX</b> <a onclick="getPhone('{{path('get_number')}}', {{ user.id }}, this);return false;" href="">Показать телефон</a>
                    </div>
                    {% endif %}
            </div>
            <h2>
                    Описание товара
            </h2>
            
            <p>
                {{ item.text }}
            </p>
        </div>
        
        <script>
            $(document).ready(function(){
               $(".photos div:nth-child(2) img:first-child").click(); 
            });
        </script>
</div>

{% include 'TorgovorotTorgBundle:Default:bottom.html.twig' %}
