{% include 'TorgovorotTorgBundle:Default:header.html.twig' with { 'title':'Личный кабинет' } %}


{{ profmenu()|raw }}


<form action="{{ path('profile') }}" method="post" {{ form_enctype(form_about) }}>

    </style>
    <ul class="form">
        <li>
            <label>ФИО</label>
            <div>{{ form_widget( form_about.fio, {'value' : fio } ) }}</div>
        </li>
        <li>
            <label>Описание:</label>
            <div>{{ form_widget( form_about.about, { 'label': 'Описание:' , 'value' : about, 'attr' : { 'style' : 'height:150px;width:600px;' } } ) }}</div>
        </li>
        <li>
            <label>Контакты:</label>
            <div>{{ form_widget( form_about.contacts, { 'label': 'Контакты:' , 'value' : contact, 'attr' : { 'style' : 'height:150px;width:600px;' } } ) }}</div>
        </li>
        <li>
            <label>Название компании:</label>
            <div>{{ form_widget( form_about.company, { 'label': 'Название компании:' , 'value' : company } ) }}</div>
        </li>
        <li>
            <label>Фото:</label>
            <div>{{ form_widget( form_about.photo ) }}</div>
        </li>
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
        <li>
            <label></label>
            <div>{{ form_widget(form_about.save , {'attr': {'class': 'btn'}, "label" : "Сохранить"}) }}</div>
        </li>
    {{ form_rest(form_about) }}
    </ul>
</form>

    <br>
    <hr>
    <br>
<form action="{{ path('profile') }}" method="post">
    
    <ul class="form">

        {{ form_widget( form_pass.newpass, { 'label': ' ' } ) }}
        <li>
            <label style="margin-right:20px;">Текущий пароль:</label>
            {{ form_widget( form_pass.oldpass, { 'label': ' ' } ) }}
        </li>
    
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
        <li>
            <label></label>
            <div>{{ form_widget(form_pass.save , {'attr': {'class': 'btn'}, "label" : "Сохранить"}) }}</div>
        </li>
    {{ form_rest(form_pass) }}
    </ul>
</form>    
    <br>
    {%  if addrs is not empty %}
<h3>Адресса</h3>
<div>
        {% for addr in addrs %}
            <ul>
                <a href="{{ path('profile_addr_view', {'id1' : addr.id}) }}" > Адресс №{{ addr.id }} </a>
            </ul>
           
        {% endfor %}
    
</div>
{% endif %}

{%  if res is not empty %}
<h3>Резюме</h3>
<div>
        {% for item in res %}
            <ul>
                <a href="{{ path('profile_res_view', {'id1' : item.id}) }}" > {{item.fio}} </a>
            </ul>
           
        {% endfor %}
    
</div>
{% endif %}

{%  if vac is not empty %}
<h3>Вакансии</h3>
<div>
        {% for item in vac %}
            <ul>
                <a href="{{ path('profile_vac_view', {'id1' : item.id}) }}" > {{item.title}} </a>
            </ul>
           
        {% endfor %}
    
</div>
{% endif %}

{%  if goods is not empty %}
<h3>Товары</h3>
<div>
        {% for item in goods %}
            <ul>
                <a href="{{ path('profile_good_view', {'id1' : item.id}) }}" > {{item.title}} </a>
            </ul>
           
        {% endfor %}
    
</div>
{% endif %}

{%  if realty is not empty %}
<h3>Недвижимость</h3>
<div style="margin-left:50px;">
        {% set titl = "" %}
        {% for item in realty %}
               
    
                {% if titl != rtype[item.adsType] %}
                    {% set titl = rtype[item.adsType] %}
                    <b>{{ titl }}</b>
                {% endif %}
                    
                
                    
                <ul>
                    <a href="{{ path('profile_realty_view', {'param':item.adsType ,'id1' : item.id}) }}">{{ item.title }}</a><br>
                    
                </ul>
        {% endfor %}
    
</div>
{% endif %}
    
    {% include 'TorgovorotTorgBundle:Default:bottom.html.twig' %}